html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  margin: 0;
}

nav {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8.75vh;
  background: #D6CCC2;
  z-index: 9999;
}

nav h1 {
  margin: 0 1%;
  display: inline;
  float: left;
  font-family: "cookie";
  font-size: 8vh;
  color: #7F5539;
}

nav ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 25%;
  bottom: 25%;
  width: 30%;
  height: 8.75vh;
  display: inline;
  list-style-type: none;
}

nav ul li {
  margin: 0 1%;
  display: inline-block;
  padding: 2%;
  border-radius: 50px;
  background: #EDEDE9;
  font-family: "monospace bold";
  font-size: 2vh;
  color: #7F5539;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
}

nav ul li:hover {
  color: #E6CCB2;
}

nav ul .active {
  color: #E6CCB2;
}

.content {
  margin-top: 6%;
  margin-left: 3%;
  margin-right: 3%;
}

.content.front-page {
  width: 70vw;
}

.headline {
  margin-bottom: 0;
  font-family: "monospace bold";
  font-size: 3vh;
  color: #7F5539;
}

.line {
  margin: 0 0 .5% 0;
}

.line.short {
  width: 70vw;
}

.line.long {
  width: calc(3 * 30vw + 2 * 2%);
}

.front-page-img {
  margin: 0;
  display: inline-block;
}

.front-page-img.bin {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr .1fr;
  grid-row-gap: 0.5vw;
}

.front-page-img.bin img {
  object-fit: cover;
  width: 40vw;
  height: 30vw;
}

.recent {
  margin: 0;
  position: absolute;
  right: 2.5%;
  top: 10%;
  display: grid;
  grid-template-rows: .1fr 1fr;
  grid-row-gap: 0.5vw;
  width: 20vw;
}

.text {
  margin: 0;
}

.recent div {
  padding-bottom: 0.5vw;
  border-bottom: 1px solid black;
  font-family: "monospace bold";
  font-size: 2vh;
  color: #7F5539;
  text-align: center;
}

.recent img {
  object-fit: cover;
  width: 20vw;
  height: 20vw;
}

.gallery {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  width: calc(3 * 30vw + 2 * 2%);
}

.gallery img {
  display: block;
  object-fit: cover;
  width: 30vw;
  height: 30vw;
}
