body {
  margin: 0;
}

header {
  margin: 0;
}

nav {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  background: red;
}

nav h1 {
  margin: 0 16px;
  display: inline;
  float: left;
  font-family: "cookie";
  font-size: 64px;
}

nav ul {
  margin: 0;
  display: inline;
  float: right;
  list-style-type: none;
}

nav ul li {
  margin: 0;
  padding: 10px;
  border-radius: 50px;
  background: darkred;
  display: inline;
  font-family: "monospace bold";
  font-size: 16px;
  color: white;
}
